body{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   background-color: blue;
   position: relative;
}

body a{
   color: black;
   position: relative;
   z-index: 1;
}

#shade{
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: 0.5;
   z-index: 2;
   background: black;
   margin: 0 ;
}

#up{
   position: relative;
   z-index: 3;
   width: 200px;
   height: 150px;
   margin: 0 auto;
   color: white;
}

.see{
   display: none;
}
